/* $CORE
============= */
*,
*:before,
*:after {
	box-sizing: border-box;
}

::selection {
	background: $secondary;
	color: $white !important;
	text-shadow: none;
}

html { 
    
}

body {
	font-family: $font-primary;
	font-size: 16px;

	td, div, font, p, a, li, input, label, h1, h2, h3, h4, h5, h6, span{
		font-family: $font-primary;
		color: $black;
	}

	td, div, font, p, a, li, input, label {
		font-size: 16px;
	}
}

/* $TYPOGRAPHY */

body,
main,
#ipBlock-mainContent,
#inner_content,
.ipWidget {

	h1,h2,h3,h4,h5,h6 {
		font-weight: 500; 
	}

	h1 {

	}

	h2 {
		text-transform: uppercase;
		color: $secondary;
		margin-bottom: 40px;
	}

	h3 {

	}

	h4 {
		color: $secondary;
	}

	h5 {
		color: $black;
	}

	p { 
		line-height: 1.5;
	}

	.lead-section p {
		font-size: 20px;
	}
}

/* $LINKS
============= */

a,
a:link,
a:visited {
	color: $links;

	&:focus,
	&:hover{
		text-decoration: underline;
	}
}

/* $BUTTONS */

%btn {
	font-family: $font-primary;
	color: $white;
	background: $primary;
	border: 2px solid $primary;
	transition: all .2s ease-out;
	border-radius: 0;
	padding: 10px 30px;
	min-width: 180px;
	text-transform: uppercase;
	font-size: 16px;

	@include bp(lt-s) {
		width: 100%;
	}

	&:hover,
	&:active,
	&:focus {
	    color: $white;
		background: $secondary;
		border: 2px solid $grey;
	    // border-color: darken($secondary, 10%);
	    // background: darken($secondary, 10%);
	    text-decoration: none;
	}
}

%btn-primary {
	z-index: 2;

	&:hover {
		color: $white;
	}
}

.ipWidget .btn, 
.btn, a.btn,
.button,
.r-reg-buttons a,
.cc-btn, 
#inner_content input.button.r-button {

	@extend %btn;

	&.btn-primary {
		@extend %btn-primary;
	}

	&.btn-secondary {
		@extend %btn-primary;
		background: $secondary;
		border-color: $secondary;
		color: $white;
		position: relative;
		// transition: background 450ms ease-in-out, border 250ms ease-in-out;
		transition: all 250ms ease-in-out;

		// &::before { 
		// 	content: '';
		// 	position: absolute;
		// 	left: 0;
		// 	height: 100%;
		// 	width: 0;
		// 	background: $secondary;
		// 	transition: width 250ms ease-in-out;
		// 	bottom: 0;
		// 	z-index: -1;
		// }

		// &:hover::before {
		// 	width: 100%;
		// }
	

		&:hover,
		&:active,
		&:focus {
		    background: #d5b25b;
			border: 2px $grey solid;
		}
	}
}


/* $LAYOUT
============= */

// Remove padding from nested rows
.row .row > div[class^="col-"] {
	padding: 0;
}


/* $COMMON
============= */ 

.no-pad {
	padding: 0;
}

.no-pad-top {
	padding-top: 0;
}

.no-pad-bottom {
	padding-bottom: 0;
}

.center {
	* {
		text-align: center;
	}
}


/* $GENERAL
============= */

/* $HEADER */

header,
.branding-hdr {
	z-index: 20;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $white;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.5);
	height: $header-height-mobile;
	
    @include bp(m) {
		height: $header-height;
    }

    .ipWidget-EImage {
    	a {
    		@include verticallyCenter;
    		height: $header-height-mobile;
		    
		    @include bp(m) {
				height: $header-height;
		    }
    	}
    }

    .header-widget > .row { 
    	@include bp(m) {
    		display: flex;
    		align-items: flex-end;
    	}
    }

	img {
		width: auto; 
		// height: 35px;
		height: 50px;

		@include bp(m) {
			// height: 45px;
			height: 70px;
		}
    }
}

.ipBlock-header {

}

.language-selector-container,
#outer_table .language-selector-container {
    display: block;
    position: absolute;
    z-index: 9;
    right: 15px;
    top: $header-height-mobile;
    width: auto;

    @include bp(m) {
    	top: $header-height;
    }

	select {   
	    box-sizing: border-box;
	    text-transform: uppercase;
	    color: $white;
	    background-color: $black;
	    border-radius: 0;
	    -webkit-appearance: none;
	    -moz-appearance: none;	    
	    -webkit-border-radius: 0px;
	    border: 0;
	    padding: 10px 30px 10px 20px;
	    margin: 0;
	    font-size: 12px;
	    font-weight: bold;
	    width: auto;
	   
	    background:
	    	linear-gradient(45deg, $black 50%, $white 50%),
	    	linear-gradient(135deg, $white 50%, $black 50%);
	    background-position:
	    	calc(100% - 17px) calc(1em + 4px),
	    	calc(100% - 12px) calc(1em + 4px),
	    	100% 0;
	    background-size:
	    	5px 5px,
	    	5px 5px,
	    	2.5em 2.5em;
	    background-repeat: no-repeat;
	    background-color: $black;
	    min-width: 110px;
	}

	select::-ms-expand {
	    display: none;
	}
}

/* $FOOTER
============= */
#ipBlock-footer {
	.footer {
		padding-top: 80px;
		padding-bottom: 80px;
		background-color: $dark-grey;

		@include bp(lt-s) {
			text-align: center;
			padding-top: 40px;
			padding-bottom: 40px; 
		}

		*:not(.fab) { 
			color: $white; 
		}

		.row {
			@include bp(s) {
				display: flex;
			    align-items: center;
			}
		}
		div.footer-links {
			ul {
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				flex-direction: column;
				list-style: none;
				margin-left: 0;
				padding-left: 0;
			
				@include bp(m) {
					flex-direction: row;
					
					
				}

				li {
					font-size: 13px;

					@include bp(m) {
						padding-right: 6px;
						border-right: 1px solid $white;

						&:last-child {
							border-right: 0;
						}
					}

					a {
						font-size: 13px;
					}
				}
			}
		}
	}
}

/* $HELPERS
============= */

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 

	iframe, 
	object, 
	embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}
} 

