 input, label, h1, h2, h3, h4, h5, h6, span{
	font-family: $font-headings;
	color: $black;
}



td, div, font, p, a, li, input, label {
	font-size: 1.2;
	font-family: $font-copy !important;



	@include bp(m){
		font-size: 1.5;
	}
}

a:link, a, a:visited {
	color: $links !important;
}

h1 {

	font-size: 3.5rem;

	@include bp(m) {
		font-size: 5rem;
	}
}

h2{
	font-size: 1.5rem;
	margin-top: 2.5rem;

	@include bp(m) {
		font-size: 2rem;
		margin-top: 5rem;
	}
}
h3{
	font-size: 1.3rem;
	//margin-top: 2.5rem;

	@include bp(m) {
		font-size: 1.8rem;
		margin-top: 5rem;
	}
}
