// breakpoints 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px; // Extra Large custom breakpoint 

// colors
$red: #B30000;
$amber: #e8a215;
$green: #008580;

$primary: #7f867b; 
$secondary: #c7c7bb; //#d4c8be;
$black: #0e1836;
$white: whitesmoke;
$grey: #e3e4e0;
$dark-grey: #2B2E2F;

$light-grey: #efefef;
$links: $secondary;

$form-border: $light-grey;

$success: $green;
$error: $red;

// fonts

$icon-font: fontAwesome;

// fontAwesome Icons
$arrow-right: '\f054';
$arrow-down: '\f078';

// $header-height: 80px;
$header-height: 100px;
// $header-height-mobile: 50px; 
$header-height-mobile: 80px; 


%container-padding {
	padding: 120px 30px;

	@include bp(m) {
		padding: 120px 50px;
	}
}

$max-contentWidth: 1170px;

$animation-speed: cubic-bezier(0.075, 0.82, 0.165, 1);
$animation-duration: 300ms;