@import 'mixins';
@import 'variables';
//@import 'core';
@import 'fonts';


*,
*:before,
*:after {
	box-sizing: border-box;
}

::selection {
	background: $secondary;
	color: inherit;
	text-shadow: none;
}

html,body { 
    background-color: $white;
}

body {
	font-family: $font-primary;
	font-size: 16px;

	td, div, font, p, a, li, input, label, h1, h2, h3, h4, h5, h6, span{
		font-family: $font-primary !important;
		color: $black;
	}

	td, div, font, p, a, li, input, label {
		font-size: 16px;
	}
}

section[id] {
	min-height: 100vh;
}