@import 'fonts';
@import 'mixins';
@import 'variables';
//@import 'core';
@import 'typography';
@import 'buttons';


*,
*:before,
*:after {
	box-sizing: border-box;
}

::selection {
	background: $secondary;
	color: $white;
	text-shadow: none;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: $white;
	scroll-behavior: smooth;
	overflow-x: hidden; //just to hide AOS animation's side scroll @mobile
	//position: relative;

	//&::after {
	//	content: '';
	//	background-color: rgba(255, 192, 203, 0.292);
	//	width: 100%;
	//	height: 100%;
	//	top: 0;
	//	left: 0;
	//	position: absolute;
	//	z-index: 33000;
	//	margin: 40px 0px 90% 0px;
	//}
}

body {
	font-family: $font-copy;
	font-size: 21px;
}

header {
	display: flex;
	@include frostBG($white);
	position: fixed;
	top: 0;
	left: 0;
	@extend %container-padding;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: $header-height-mobile;
	z-index: 1;
	transition: all $animation-speed $animation-duration;

	@include bp(m) {
		height: $header-height;
	}


	&.shrink {
		background: $primary !important;
		color: $white !important;
		height: $header-height-mobile;
		@include shadow;

		*{
			color: white !important;
		}
	}

	.header_inner{
		max-width: $max-contentWidth;
		margin: auto;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		//height: $header-height-mobile;
	}
	

	.logo a {
		font-size: 1.5rem;
		font-family: serif;
		text-decoration: none;
	}

	#menuContainer {
		position: relative;

		.nav {
			//!NAV NOT MOBILE FIRST
			ul {
				display: flex;
				list-style: none;
				margin: 15px 0;

				li {
					position: relative;

					@include bp(m) {
						margin-left: 20px;

						&::after {
							content: '';
							position: absolute;
							height: 2px;
							background: $white;
							left: 0;
							bottom: 0;
							width: 0%;
							transition: width $animation-speed $animation-duration;
						}

						&:hover, &:focus, &:focus-within, &.active {
							&::after {
								width: 100%;
							}
						}
					}

					a {
						text-decoration: none;
						font-size: 1rem;
					}
				}
			}

			@include bp(lt-m) {
				background-color: $secondary;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: bottom;
				border-bottom-left-radius: 20px;
				min-height: 50vh;
				min-width: 300px;
				position: absolute;
				//top: 40px;
				top: -55px;
				right: -50px;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				padding-top: $header-height-mobile;
				transform: translateX(0);
			

				@include shadow;

				&.closed {
					transform: translateX(150%);

					ul li {
						opacity: 0;
					}
				}

				ul {
					height: 100%;
					display: flex;
					flex-direction: column;
					width: 100%;

					li {
						list-style: none;
						margin-top: 50px;
						margin-bottom: 50px;

						a {
							text-decoration: none;
							padding: 10px;
							font-size: 1.2rem;
						}

					}
				}
			}
		}

		.burgermenu {
			display: grid !important;
			position: fixed;
			place-content: center;
			z-index: 1;
			width: 30px;
			height: 25px;
			top: 24px;//20px;
			right: 30px;
			transform: scale(.8);
			cursor: pointer;

			
			div {
				width: 40px;
				background-color: $black;
				height: 3px;
				position: relative;
				transform-origin: center center;
				opacity: 0;
				transition: transform $animation-speed $animation-duration ;
			}

			&::before {
				content: '';
				height: 3px;
				background-color: $black;
				top: 20px;
				width: 100%;
				position: absolute;
				transform: translateY(-10px) rotate(315deg);
				transform-origin: center center;
				transition: transform $animation-speed $animation-duration;

			}

			&::after {
				content: '';
				height: 3px;
				background-color: $black;
				bottom: 0;
				width: 100%;
				position: absolute;
				transform: translateY(-12px) rotate(45deg);
				transform-origin: center center;
				transition: transform $animation-speed $animation-duration;


			}

			&.closed {
				div {
					opacity: 1;
					background: $white;
				}


				&::after,
				&::before {
					content: '';
					background-color: $white;
					transform: rotate(0);
					transform-origin: center center;
				}

				&::before {
					top: 0;
				}

				&::after {
					bottom: 0;
				}
			}

			@include bp(m) {
				display: none !important;
			}
		}
	}
}


section[id] {
	min-height: 100vh;
	@extend %container-padding;

	.section_title {
		margin-bottom: 0;
	}

	.section_subtitle {
		margin-top: 0;
		margin-bottom: 100px;
	}

	.inner{
		max-width: $max-contentWidth;
		margin: auto;
		width: 100%;
	}

	&.coloured-section {
		* {
			color: $dark-grey;
		}
		background: $secondary;
	}

	&:not(#landing) {
		//display: flex;
	}


	&#landing {
		background-image: url('../images/hero-image.jpeg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		//margin-top: $header-height-mobile;

		//@include bp(m){
		//	margin-top: $header-height
		//}

		h1 {
			margin-bottom: 10px;
		}

		.landing_content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;
		}
	}

	&#about {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		p:not([class]) {
			max-width: 100ch;
		}
	}

	&#services {
		.services_options {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			gap: 30px;

			@include bp(m){
				flex-direction: row;
				gap: 100px;
			}

			.left {

				.image {
					background-image: url('https://images.pexels.com/photos/4057864/pexels-photo-4057864.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Face to face counselling');
				}
			}

			.right {
				.image {
					background-image: url('https://images.pexels.com/photos/4458553/pexels-photo-4458553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');			
				}
			}

			.left, .right {
				display: flex;
				flex-direction: column;
				//justify-content: center;
				align-items: center;
				flex: 1;

				.image {
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					width: 100%;
					min-height: 500px;
					border: 5px solid $black;
				}

				@include bp(m){
					align-items: flex-start;

					.image {
						//width: 500px;
						//height: 500px;
						min-height: 500px;
					}
				}
			}

		
		}
	}

	&#faqs {

		.faqs-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@include bp(m){
				gap: 30px;
			}

			.inner {
				flex-grow: 1;
				
				@include bp(m) {
					width: 48%;
				}

			}
		}
		details {
			transition: all $animation-speed $animation-duration;
			padding: 20px;
			margin-bottom: 20px;
			background: white;

			p, li, a, *{
				color: $black !important;
			}

			&:hover, &:active {
				background: $primary;
			}

			&[open] {
				background: white;
				@include shadow;
			}

			#summary {
				cursor: pointer;
				background-color: transparent !important;
				font-weight: bold;

			

				&::marker {
					content: none !important;
				}
			}

			p {
				color: $black !important;
			}
		}
	}

	&#prices {
		height: auto;
		min-height: unset;

		.prices-box {
			border: 5px solid $primary;
			padding: 30px;
			position: relative;
			max-width: 1000px;
			margin: auto;

			h3 {
				position:absolute;
				left: 50%;
				top: 0;
				transform: translate(-50%, -60%);
				padding: 10px 20px;
				font-size: 1rem;
				background-color: $secondary;
				margin: 0;
			}

			ul {
				padding: 0 !important;
				li.price {
					display: flex;
					list-style: none;
					justify-content: space-between;
				}
			}

			@include bp(m){
				padding: 50px;

				h3 {
					padding:10px 40px;
					font-size: 1.5rem;
				}
			}
		}
	}
}

footer {
	background: $dark-grey !important;
	min-height: 100px;
	width: 100%;

	
	* {
		color: $white;
	}
	.inner {
		max-width: $max-contentWidth;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: auto;
		align-items: center;
		padding: 30px;

		@include bp(m) {
		}

		p {

		}

		.socials {
			display: flex;

			li {
				list-style: none;
				text-decoration: none;

				a {
					color: $secondary;
				}
			}

			@include bp(m) {
				
				li {
					margin-left: 20px;
				}
			}
		}
	}
}