//maybe download and add fonts to project
//Ostrich SRC https://www.creativebloq.com/typography/free-web-fonts-1131610



$font-headings: 'Playfair Display', serif;
$font-copy: 'Lato',
	'Open Sans',
	'Arial',
	sans-serif;

$font-subheadings: 'Lato',
	'Open Sans',
	'Arial',
	sans-serif;

$font-special: cursive, sans-serif;


//WOFF2 : modern browsers
//WOFF  : fallback if woff2 is not supported
//TTF   : Android-browser on Android 4.3 or older
//EOT   : Internet Explorer 8 or older
//SVG   : iOS-Safari 3.2-4.1. SVG webfonts are not supported anymore in most browsers