// breakpoints 
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1500px; // Extra Large custom breakpoint 

// colors

//light theme
$red: #B30000;
$amber: #e8a215;
$green: #5cdb95;

$primary: #d66a60;
$secondary: #e59866; //#c7c7bb;
$black: #222222; //#0e1836;
$white: whitesmoke;
$grey: #ececec;
$dark-grey: #2B2E2F;


$primary:#7aa39a;
$primary-dark : #d1bda1;
$secondary: #f0ece5;
$accent:  rgb(172, 82, 82);//#a67d36;
$color-text: #23475d;

$links: $accent;

//$colors: (
//	primary : $primary,
//	textPrimary : #E85A4F,
//	secondary : $secondary,//#E98074,
//	textSecondary : $primary,
//	tertiary : #d1bda1,
//	textTertiary : #1e1d1d,
//	shade: #1e1d1d,
//	textShade: $white,
//	neutral: $white,
//	textNeutral: #1e1d1d,
//);
////dark theme
//$colors-dark: (
//	primary : #1e1d1d,
//	textPrimary: $primary,
//	secondary: #3a3939,
//	textSecondary: $primary,
//	tertiary : #bd880c,
//	textTertiary : #1e1d1d,
//	shade: $primary,
//	textShade: #1e1d1d,
//	neutral: #1e1d1d,
//	textNeutral: $primary,
//);

//converting scss variable into css variable
//:root {

//	@each $name,
//	$color in $colors {
//		--color-#{$name} : #{$color};
//	}

//	--theme: 'light';
//}

//@media(prefers-color-scheme: dark) {
//	:root {

//		@each $name,
//		$color in $colors-dark {
//			--color-#{$name} : #{$color};
//		}

//		--theme : 'dark';
//	}
//}

//creating a function to get color instead of using css varible
//@function getColor($color-name) {
//	@return var(--color-#{$color-name});
//}






// fonts
$icon-font: fontAwesome, 'Font Awesome 5 Regular', 'font Awesome', 'Font Awesome 5';
$icon-weight: 900;
@mixin thin-icon {-webkit-text-stroke: 2px $accent;}
// fontAwesome Icons
$arrow-right: '\f054';
$arrow-down: '\f078';
$plus:  '+';
$minus:  '+';

$header-height: 100px;
$header-height-mobile: 50px;//80px;


%container-padding {
	padding: 60px 30px; // 120px 30px;

	@include bp(m) {
		padding: 90px 60px; //120px 60px;
	}
}

$max-contentWidth: 1700px; //1170px;



$animation-duration: 450ms;
$animation-delay: 200ms;
$animation-ease: cubic-bezier(.51,.92,.24,1.15);
$animationStyle: $animation-duration $animation-ease $animation-delay !important;
//$animation-speed: $animation-duration cubic-bezier(.51,.92,.24,1.15) $animation-delay !important;


//spacing
$gap-small: 30px;
$gap-large: 90px;


//radius
$radius-small: 30px;
$radius-large: 60px;

@mixin radiusResponsiveLarge {
	border-radius: .2rem;

	@include bp(s) {
		border-radius: .4rem;
	}
	@include bp(m) {
		border-radius: .6rem;
	}
	@include bp(l) {
		border-radius: .8rem;
	}
}

@mixin radiusResponsiveSmall {
	border-radius: .1rem;

	@include bp(s) {
		border-radius: .2rem;
	}
	@include bp(m) {
		border-radius: .3rem;
	}
	@include bp(l) {
		border-radius: .4rem;
	}
}



/*
CSS GRID
*/


$site-gutter: 3vw;
$site-max-width: $max-contentWidth;
$grid-gutter: calc((#{$site-gutter}, 4vw) - 11.0px);
$cell-max-width: calc(((#{$site-max-width}, 1500px) - (11.0px * (24 - 1)) ) / 24 );
$inset-padding: 0vw;
$row-height-scaling-factor: 0.0215;
$container-width: min((#{$site-max-width}, 1500px), calc(100vw - (#{$site-gutter}, 4vw) * 2 - (#{$inset-padding})));