@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'typography';
@import 'styleGuide';
@import 'animations';
@import 'buttons';
@import 'patterns';


*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media (prefers-reduced-motion: reduce) {

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: .01ms !important;
		scroll-behavior: auto !important;
		transition-delay: 0ms !important;
	}
}

::selection {
	background-color: rgb(0, 191, 255);
	color: $black;
	text-shadow: none;
}

.bodymovin {
	width: 85px;
	height: 85px;
	position: relative;

	cursor: pointer;

	&:hover {
		filter: invert(1);
	}
}

.hide {
	display: none;
}


html,
body {
	padding: 0;
	margin: 0;
	background-color: $white;
}

body {
	scroll-behavior: smooth !important;
	position: relative !important;
}


header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: $header-height-mobile;
	z-index: 250;
	transition: all $animationStyle;


	@include bp(m) {
		height: $header-height;
	}

	.header_inner {
		max-width: $max-contentWidth;
		margin: auto;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		height: $header-height-mobile;
		@extend %container-padding;
		padding-top: 10px !important;
		padding-bottom: 10px !important;

		@include bp(s) {
			a.logo {
				transform: scale(1.25) !important;
			}
		}

		.bodymovin {
			width: 60px;
			cursor: pointer;

			&:hover {
				filter: invert(1);
			}
		}
	}





	#menuContainer {
		position: relative;

		#navBar {

			//!NAV NOT MOBILE FIRST
			ul {
				display: flex;
				list-style: none;
				margin: 15px 0;

				li.nav-item {
					position: relative;

					@include bp(m) {
						margin-left: 20px;
						flex-direction: row;
					}

					a {
						text-decoration: none;
						color: $white;
						padding: 10px 0;

						&::after {
							content: '';
							position: absolute;
							height: 2px;
							background-color: $secondary;
							left: 0;
							bottom: 5px;
							width: 0%;
							transition: width $animationStyle;
						}

						&:hover,
						&:focus,
						&:focus-within,
						&.active {
							&::after {
								width: 100%;
							}
						}

						&.highlight {

							@extend %btn;
							background-color: $secondary;
							color: $color-text !important;
							padding: 10px 15px;
							margin: auto;

							@include bp (m) {
								margin-left: $gap-small;

								&:hover,
								&:focus,
								&:focus-within {
									background: $primary;
								}

								&:active {
									border-bottom: 0;
									background: $black;
								}
							}



							&::after {
								display: none;
							}
						}
					}
				}
			}

			@include bp(lt-m) {
				background-color: $white;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: bottom;
				min-height: 100vh; //50vh;
				min-width: 100vw; //315px;
				position: absolute;
				top: -45px; //-55px;
				right: -30px; //-40px; //-50px;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				padding-top: $header-height-mobile;
				transform: translateX(0);
				padding-left: 0;
				transition: all 250ms ease-in-out;
				//@include frostBG($white);
				@include shadow;

				a {

					&:hover,
					&:focus,
					&:focus-within,
					&.active {
						color: $secondary;

						&::after {
							width: 0 !important;
						}
					}
				}

				&.closed {
					transform: translateX(150%);

					ul {
						li {
							opacity: 0;
						}

						a {
							font-size: 2rem !important;
						}
					}
				}

				ul {
					height: 100%;
					display: flex;
					flex-direction: column;
					width: 90vw;
					margin-left: auto;
					margin-right: auto;

					li {
						list-style: none;
						margin-top: $gap-small;
						text-align: center;
						margin-bottom: $gap-small;



						a.nav-link {
							text-decoration: none;
							padding: 10px;
							color: $color-text !important;
						}

					}
				}
			}
		}

		.burgermenu {
			z-index: 500;
			width: 30px;
			height: 30px;
			top: 30px; //20px;
			right: 30px;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(-50%, -50%);


			//::before is top line. relative to .burgermenu. This is initial setup
			&::before,
			&::after {
				content: '';
				height: 4px;
				width: 30px;
				position: absolute;
				transition: all $animationStyle;
				background-color: $secondary;
			}

			div {
				transition: width 600ms $animation-ease 200ms;
			}

			//!TODO: this should really use .open class and have no class by default
			&:not(.closed) {
				div {
					width: 0px;
				}

				&::before {
					background-color: $black;
					top: 15px;
					transform: translateY(-50%) rotate(45deg);
				}

				&::after {
					background-color: $black;
					bottom: 15px;
					transform: translateY(50%) rotate(315deg);
				}
			}

			&.closed {

				//div is middle line
				div {
					width: 40px;
					background-color: $secondary;
					height: 4px;
					position: absolute;

					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

				}

				&::before {
					top: 0;
					transform: translateY(50%);
				}

				&::after {
					bottom: 0;
					transform: translateY(-50%);
				}
			}





			//hide buger @ desktop
			@include bp(m) {
				display: none !important;
			}
		}
	}

	&.shrink {
		height: 90px;
		@include shadow;
		//@include frostBG(darken($primary, 1%));
		background-color: $white;
		//background-color: $primary;


		a,
		a:visited,
		a:link,
		.logo a span {
			color: $color-text !important;
		}
	}


}


.cursor {
	pointer-events: none;
	position: fixed;
	padding: 0.3rem;
	background-color: #fff;
	border-radius: 50%;
	mix-blend-mode: difference;
	transition: transform 0.3s ease;
}

.hover-this {
	@include bp(lt-m) {
		width: 100%;
		padding: 20px 0;
		display: inline-block;
	}

	&:hover~.cursor {
		transform: translate(-50%, -50%) scale(8);
	}
}


#forSVGscrolling {
	background-color: $primary;
}

//@keyframes dash {
//	to {
//		stroke-dashoffset: 1000;
//	}
//}

.svgContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	overflow: hidden;
	//z-index: -1;

	svg {
		display: inline-block;
		height: 100%;
		transform: rotate(90deg);

		//path#mainPath {
		//	stroke-dasharray: 100;
		//	stroke-dashoffset: 1000;
		//	animation: dash 5s linear forwards;
		//	color: $secondary;
		//}
	}
}



section[id] {
	min-height: 100vh;
	overflow-x: hidden; //for Aos

	* {
		transition: all 230ms ease-in-out;
	}

	.section_title {
		margin-bottom: 0;
	}

	&[data-aos*="fade-"] {
		overflow-x: hidden;
	}

	.section_subtitle {
		margin-top: 5px;
		margin-bottom: $gap-small;
		font-size: 1.2rem !important;
		font-family: $font-copy !important;
		font-weight: 700;
		color: $accent;

		@include bp(m) {
			font-size: 1.4rem !important;
		}

		@include bp(xl) {
			margin-bottom: $gap-large;
		}
	}

	.inner {
		max-width: $max-contentWidth;
		margin: auto;
		width: 100%;
		@extend %container-padding;
	}

	&.coloured-section {
		* {
			color: $color-text;
		}

		background: $secondary;
		background-color: $secondary;
	}

	&.no-padding-section {
		padding: 0 !important;
	}


	&#landing {
		background-color: $primary; //svg animate leaves growing
		//background-image: url('https://images.pexels.com/photos/1126380/pexels-photo-1126380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 10px;
		align-items: center;
		padding-top: $header-height-mobile;
		position: relative;
		overflow: hidden;
		height: 100vh;


		@include bp(m) {
			padding-top: $header-height;
			//justify-content: center;
		}

		@include bp(lt-s) {
			text-align: center !important;
		}

		h1 {
			font-size: 4.0rem;
			color: $secondary;


			@include bp(xs) {
				font-size: 5rem;
			}

			@include bp(m) {
				margin-bottom: 20px;
				font-size: 7rem;
			}

			@include bp(xl) {
				font-size: 10rem;
			}
		}

		.subheading {
			position: relative;

			p {
				color: $color-text;
				font-size: 1.8rem;

				@include bp(m) {
					font-size: 4rem;
				}

				@include bp(l) {
					font-size: 5rem;
				}
			}

			a.btn {
				transition: all $animationStyle;
				position: absolute;
				z-index: 2;
				left: 50%;
				transform: translateX(-50%);

				@include bp(s) {
					left: 0;
					transform: translateX(0);
				}
			}
		}

		path[class^="cls-"] {
			z-index: 3;
			transform: fill $animationStyle;

			@include shadow;

			&:hover {
				//fill: $secondary;
				width: 80%;
				height: 80%;

				@if (fill==$secondary) {
					fill: $accent;
				}

				@else if (fill !=$secondary) {
					fill: $secondary;
				}
			}
		}

		@media (prefers-reduced-motion: reduce) {
			transition: transform(0, 0) !important;
		}
	}

	//&#about {
	//	display: flex;
	//	justify-content: center;
	//	align-items: center;
	//	flex-direction: column;
	//	//@include autoHeight;

	//	p:not([class]) {
	//		max-width: 80ch;
	//	}

	//	.inner {
	//		.block {
	//			display: flex;
	//			gap: $gap-small;
	//			flex-direction: column;
	//			align-items: flex-start;
	//			justify-content: space-between;

	//			@include bp(m) {
	//				gap: $gap-large;
	//				align-items: center;
	//				flex-direction: row;
	//				justify-content: center;
	//			}

	//			.left {
	//				flex-grow: 1;
	//			}

	//			.right {
	//				width: 100%;

	//				.aboutContainer {
	//					position: relative;
	//					transition: all 550ms ease-in-out !important;
	//					background-color: $grey;
	//					padding: 20px;
	//
	//					min-width: 290px;
	//					margin-left: auto;
	//					margin-right: auto;
	//					display: flex;
	//					flex-direction: column;
	//					justify-content: space-around;

	//					@include bp(s) {
	//						flex-direction: row !important;
	//						gap: $gap-small;
	//					}

	//					@include bp(m) {
	//						gap: $gap-small;
	//						flex-wrap: wrap;
	//						padding: 30px;
	//					}

	//					@include bp(l) {
	//						flex-direction: row !important;
	//						background-color: none;
	//						padding: 0;
	//						border: 0;
	//					}

	//				}

	//				.img {
	//
	//					//background-image: url('https://images.pexels.com/photos/13326901/pexels-photo-13326901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	//					background-image: url('https://images.pexels.com/photos/1516680/pexels-photo-1516680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	//					background-repeat: no-repeat;
	//					background-size: cover;
	//					background-position: center center;
	//					min-width: 250px;
	//					min-height: 450px;
	//					@include shadow;
	//					flex: 1;

	//					@include bp(s) {
	//						background-position: top;
	//						min-width: 300px;
	//					}

	//					@include bp(m) {
	//						background-position: top;
	//						min-width: 360px;
	//						min-height: 300px;
	//					}

	//					@include bp(l) {
	//						min-width: 550px;
	//						min-height: 550px;
	//					}
	//				}

	//				.info {
	//					transition: all 550ms ease-in-out;
	//					//flex: 1;
	//					margin-top: 50px;
	//					width: 100%;

	//					h5 {
	//						margin-bottom: 20px;
	//					}

	//					ul {
	//						li {
	//							display: flex;
	//							justify-content: flex-start;
	//							margin-bottom: 10px;
	//							align-items: center;

	//							i.fa-solid {
	//								color: $secondary !important;
	//								margin-right: 20px;
	//								width: 20px;
	//							}
	//						}
	//					}

	//					@include bp(l) {
	//						position: absolute;
	//						z-index: -1;
	//						background-color: $primary;
	//						padding: $gap-small;
	//						top: 0;
	//						height: 100%;
	//	
	//						transform: rotate(-10deg) scale(.99);
	//						padding-right: 80px;
	//						margin-top: 0;
	//						transition: all $animationStyle;

	//						& p {
	//							font-size: 1rem !important;
	//						}

	//						&.active {
	//							@include shadow;
	//							z-index: 1;
	//							transform: rotate(0) scale(1);
	//						}
	//					}

	//				}

	//				.dot {
	//					@extend %close-btn;
	//					top: -25px;
	//					position: absolute;
	//					right: 20px;
	//					z-index: 1;
	//					opacity: 0;
	//					display: grid;
	//					place-content: center;

	//					@include bp(l) {
	//						opacity: 1;
	//						@include shadow;
	//					}

	//					&:not(.active) {
	//						transform: rotate(11deg);

	//						&:hover,
	//						&:focus,
	//						&:focus-within {
	//							transform: scale(1.05) rotate(11deg) !important;
	//						}
	//					}

	//					&.active {
	//						top: 20px;
	//					}
	//				}
	//			}
	//		}
	//	}
	//}


		&#about-counsellor {
			.inner {
				display: flex;
				justify-content: space-between;
				height: 100vh;
				flex-direction: column;
				

				@include bp(m) {
					flex-direction: row;
				}

				.left_section, .right_section{
					background-color: $white;
					width: 100%;
					height: 100%;

					@include bp(m) {
						width: 100%;
					}
				}

				.left_section {
					display: grid;
					place-content: center;

					.textBox {
					}
				}

				.right_section {
					position: relative;
					img{
						@include shadow;
						position: absolute;
						top: 50%;
						left: 80%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}


	&#showcase {
		@include autoHeight;
		background: $primary;

		.inner {
			position: relative;
		}

		video {
			@include shadow;
		}

		.pausePlay {
			@extend %close-btn;
			position: absolute;
			z-index: 1;
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%);
			display: grid;
			place-content: center;
			@include shadow;
			transition: left $animationStyle opacity 2s ease-in-out 900ms;
			//should the button really be dancning around?? UX??

			&.playing {
				opacity: .5;
				right: 0px;

				&:hover {
					opacity: 1;
				}
			}

			@include bp(m) {

			}
		}
	}

	&#services {
		transition: background-image $animationStyle;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;


		.inner {
			max-width: $max-contentWidth;

			.cardsContainer {
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-grow: 1;

				@include bp(m) {
					align-items: stretch;
					flex-direction: row;
				}

				.buttonContainer {
					display: flex;
				}

				.card {
					padding: 30px;
					width: 100%;
					max-width: 650px; //450px;
					display: flex;
					flex-direction: column;
					//!min-height: 350px; height breaks it!!! so stop!!
					@include frostBG($white);
					box-sizing: border-box;
					position: relative;
					border: none;

					overflow: hidden;
					justify-content: space-between;
					margin: 15px;
					flex-grow: 1;

					@include bp(m) {
						padding: 20px;
						justify-content: flex-start;
						padding: 30px;
						//!min-height: 590px; height breaks it!!! so stop

						&:first-child {
							margin-left: 0;
						}

						&:last-child {
							margin-right: 0;
						}
					}

					@include bp(l) {
						margin: $gap-small;
					}

					&:hover {
						@include shadow;

						&::after {
							opacity: 1;
						}
					}


					@include bp(m) {
						justify-content: flex-start;
						padding: 30px;
					}

					* {
						color: $color-text !important;
					}

					h3 {
						margin-top: 0 !important;
						margin-left: 10px;
					}

					ul {
						margin-left: 10px;

						@include bp(m) {
							flex-grow: 1;
						}

						li {
							list-style: square;
							margin-bottom: 10px;
							margin-left: $gap-small;

							&::marker {
								color: $secondary;
							}
						}
					}

					.buttonContainer {
						display: grid;
						//place-content: center;

						button {
							@extend %btn;
							width: 100%;
							border: 2px solid $secondary;
							background-color: transparent;
						}
					}
				}
			}
		}

		@include modalStyle;

	}

	&#clients {
		background-color: $primary;

		.clientsLogos {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100% !important;
			flex-wrap: wrap;
			margin: auto;
			gap: $gap-small;
			flex-direction: column;
			margin-top: $gap-large;

			@include bp(xs) {
				flex-direction: row;
			}

			@include bp(m) {
				justify-content: flex-start;
			}

			.logoContainer {
				max-width: 292px; //300px;
				transition: all $animationStyle;
				position: relative;
				overflow: hidden;
				margin: $gap-small;
				background: none !important;

				h5 {
					margin-bottom: 0;

					img {
						filter: grayscale(100%);
					}

					&:hover {
						* {
							filter: none !important;
						}
					}
				}
			}


			button {
				display: grid;
				place-content: center;
				height: 100%;
				min-width: 200px;
				width: 100%;
				border: none !important;
				background: none;
			}

			img {
				width: 100%;
				height: 100%;
				max-width: 150px;
				border-radius: 0 !important;
			}

		}

		@include modalStyle;
	}

	&#testimonials {
		background-color: $secondary;
		@include autoHeight;
		position: relative;
		overflow: hidden;

		.quote {
			margin: 0 !important;
			color: $white !important;
			position: relative;
			margin-bottom: -60px !important;
			font-size: 1.5rem;
			line-height: 1.4;
			font-family: sans-serif;

			@include bp(m) {
				font-size: 2.0rem;
			}
		}

		.author {
			font-size: 1.4rem;
			color: $white !important;
			font-family: sans-serif;


			small {
				color: $white;
				font-size: inherit !important;
			}
		}

		&::before {
			content: '“';
			position: absolute;
			font-size: 40rem;
			font-family: serif;
			left: 0;
			//color: inherit;
			color: darken($secondary, 20%);
			top: 50%;
			line-height: .4;
			opacity: .3;
			//transform: translateY(-3%);
			top: 20%;

			@include bp(m) {
				top: 40%;
				font-size: 60rem;
			}
		}
	}

	&#faqs {
		@include background-polka;
		@include autoHeight;
		background-color: $grey;
		overflow: hidden;

		.faqs-container {
			flex-wrap: wrap;
			justify-content: space-between;

			@include bp(m) {
				gap: $gap-small;
			}

			.inner {
				flex-grow: 1;

				@include bp(m) {
					width: 48%;
				}

			}
		}


		.accordion {
			width: 100%;
			transition: all $animationStyle;

			.accordion-item {

				& .collapsed {

				}

				.accordion-header {
					margin-top: $gap-small;
				}

				.accordion-button {
					font-size: 18px;
					color: $color-text;
					font-family: $font-copy;

					@include bp(m) {
						font-size: 24px;
					}

					&:not(.collapsed) {
						background-color: $primary;
	
						border-bottom-left-radius: 0 !important;
						border-bottom-right-radius: 0 !important;
						border-bottom: 0;

						&::after {
							content: '-';
						}

					}

					&::after {
						content: '+';
						background: none;
						display: grid;
						place-content: center;
					}

					p {
						color: $black;
					}
				}
			}

			.card {
				border: 0;
				margin-bottom: 15px;

				&-header {
					background: $white;
					padding: 0;

					button {
						min-width: 100%;
						text-align: left;
						color: $color-text;
						position: relative;
						font-family: $font-copy;

						@include bp(lt-m) {
							font-size: 16px;
						}

						&::after {
							position: absolute;
							content: '-';
							right: 50px;
							font-size: inherit;

							@include bp(lt-m) {
								right: 20px;
							}
						}

						&:hover,
						&:active,
						&:focus {
							background-color: $primary;
							color: $color-text !important;
						}

						&.collapsed,
						&.collapse {
							&::after {
								content: '+' !important;
								transform: rotate(180deg);
							}
						}
					}
				}

				&-body {
					color: $color-text !important;
				}
			}
		}
	}

	&#prices {
		//@include autoHeight;

		.prices-box {
			border: 5px double $secondary;
			padding: 15px;
			position: relative;
			max-width: 1000px;
			margin: auto;

			@include bp(m) {
				padding: 30px;
			}

			h3 {
				position: absolute;
				left: 50%;
				top: 0;
				transform: translate(-50%, -60%);
				padding: 10px 20px;
				font-size: 1rem;
				background-color: $white;
				margin: 0;
			}

			ul {
				padding: 0 !important;

				li.price {
					display: flex;
					list-style: none;
					justify-content: space-between;
				}
			}

			@include bp(m) {
				padding: 50px;

				h3 {
					padding: 10px 40px;
					font-size: 1.5rem;
				}
			}
		}
	}


	&#promo {
		@include autoHeight;
		max-height: 500px !important; //needs to be the same as carousel height
		overflow: hidden;
		position: grid;
		place-content: center;

		.inner {
			padding: 0 !important; //for carousel
		}

		.carousel {
			background-color: $primary;

			&-inner {
				max-height: 500px; //needs to be the same as promo height
				overflow: hidden !important;
			}

			&-item {
				height: 100%;
			}


			* {
				color: $white;
			}

			.carousel-control-next-icon,
			.carousel-control-prev-icon {
				transform: scale(1.5);
				background-color: $black;
				cursor: pointer;
				padding: 5px;
			}
		}

	}

	&#contact {
		// min-height: 140vh;
		// padding-top: 30px;
		height: 100%;
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		@include bp(m) {
			@include overflowDir(right, $secondary, $primary);

		}

		.inner {
			display: flex;
			align-items: center;
			height: 100%;
			min-height: 100vh;
			padding-top: 30px;
			padding-bottom: 30px;
			max-width: $max-contentWidth;
			position: relative;

			@include bp(lt-m) {
				&::before {
					content: 'Come Say Hello';
					position: absolute;
					top: 15%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-family: $font-headings;
					font-size: 90px;
					line-height: 1;
					text-align: center;
					z-index: 0;
					color: #9e423c;
				}
			}

			* {
				&:focus-within {

					&::before,
					&::after {
						color: $white !important;
					}
				}
			}

			.left_section,
			.right_section {
				padding: 0px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				width: 100%;
				display: flex;


				@include bp(s) {
					height: 100%;
				}

				@include bp(m) {

					width: 100%;
					padding: 60px;
				}

				@include bp(xl) {
					// padding: 80px;

				}
			}

			.left_section {
				text-align: center;
				align-items: center;
				display: none;

				@include bp(m) {
					display: flex;
					width: 100%;
					text-align: right;
					align-items: flex-end;
					padding-left: 0;
				}

				h1 {
					font-size: 90px;
					text-align: center;
					color: $accent;

					@include bp(m) {
						font-size: 130px;
					}

					@include bp(l) {
						font-size: 150px;
						text-align: right;
					}
				}
			}

			.right_section {
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				align-items: center;
				position: relative;
				//background-color: getColor(tertiary);
				background: none !important;

				* {
					color: $black;
					text-align: center;
				}

				@include bp(m) {
					justify-content: center !important;
					padding-right: 0;

					&::before {
						content: '' !important;
					}
				}








				.form {
					position: relative;

					input[type=text],
					input[type='email'],
					select,
					textarea {
						width: 100%;
						padding: 5px;
						border: none;
						box-sizing: border-box;
						margin-top: 5px;
						margin-bottom: 15px;
						resize: vertical;
						text-align: left;
						font-family: $font-copy;
						color: $color-text;
						@include frostBG($white);
						@include webkitRemove;
						@extend %copy;
						padding: 20px !important;
	

						&::placeholder,
						select div,
						select * {
							color: $color-text !important;

							@include bp(m) {
								//color: $white !important;
							}
						}

						@include bp(m) {
							width: 100%;
							padding: 12px;
							box-sizing: border-box;
							margin-top: 6px;
							margin-bottom: 16px;
							resize: vertical;
							text-align: left;
							font-family: $font-copy;
							//@include frostBG($white);
						}



						* {
							text-align: left;
						}

						&:focus-within {
							background-color: $white !important;
						}
					}

					#selectWrapper {
						position: relative;
						padding: 0;
						float: right;
						border: 0;
						width: 100%;

						&::after {
							content: $arrow-down;
							position: absolute;
							font-size: 1.2rem;
							bottom: 30px;
							right: 15px;
							top: 0px;
							transform: translateY(50%);
							color: $white;
							z-index: 1;
							font-family: $icon-font;
							@include thin-icon;
							pointer-events: none; // click passes throught to select

						}



						select {
							cursor: pointer !important;
							margin: 0;
						}
					}

					input[type='text'],
					input[type='email'],
					textarea {
						font-size: 1rem !important;

						cursor: text !important;
						@include webkitRemove;
						padding: 5px;
					}

					input[type=submit] {
						@extend %btn;
						background-color: $black;
						color: $white !important;
						padding: 12px 20px;
						border: none;
						cursor: pointer;
						float: left;
						@include webkitRemove;

						@include bp(lt-m) {
							max-width: unset;
							margin-top: 15px;
						}
					}

					input[type=submit]:hover {
						background-color: $secondary;
						color: $primary !important;
						transition: all $animationStyle;

						@include bp(lt-m) {
							background-color: $primary;
							color: $black !important;
						}
					}

					label {
						float: left;
						color: $white;
						//padding-bottom: 5px;

						&[for="subject"] {
							margin-top: 20px;
						}

						span {
							color: $white;
						}

						@include bp(m) {
							color: $white !important;

							span {
								color: $white !important;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	background-color: $black !important;

	width: 100%;
	display: grid;

	* {
		color: $white;
	}

	.inner {
		max-width: $max-contentWidth;
		margin: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@extend %container-padding;

		@include bp(m) {
			flex-direction: row;
			justify-content: space-between;
		}


		p,
		span {
			color: $white;
		}

		.socials {
			display: flex;
			padding: 0;
			mix-blend-mode: difference;


			i {
				font-size: 1.5rem;
			}

			li {
				list-style: none;
				text-decoration: none;

				&:not(:first-of-type) {
					margin-left: $gap-small;
				}

				a {
					color: $color-text !important;
				}
			}

		}
	}
}

@keyframes rotateIn {
	0% {
		opacity: 0;
		transform: rotate(0deg) scaleX(.95);
	}

	100% {
		transform: scaleY(-10deg) scaleX(1);
	}
}